html {
  background-color: red;
}

.box {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: green;
}

.box-big {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: blue;
}

.box-small {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellow;
}